In [1]:
import pandas as pd

In [5]:
!pwd

/Users/lorajohns/Development/DS4A_workspace/ds4a/ds4a/case_4.3_student

In [36]:
green = pd.read_csv('../final 9/green_trips.csv')

In [37]:
green.head()

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount
0,2015-02-01 01:26:45,2015-02-01 01:49:58,-73.953545,40.811172,-73.984764,40.728386,1,8.11,27.8
1,2015-01-02 20:06:28,2015-01-02 20:14:04,-73.946709,40.714321,-73.961571,40.711475,1,1.29,9.8
2,2014-09-27 17:55:38,2014-09-27 18:19:56,-73.957626,40.718094,-73.947304,40.777813,5,6.12,26.3
3,2014-04-27 02:27:04,2014-04-27 02:39:02,-73.949501,40.713997,-73.987785,40.718582,2,3.68,17.3
4,2014-05-26 18:32:19,2014-05-26 18:44:13,-73.944092,40.672195,-73.977325,40.664013,1,2.40,11.5

In [38]:
green.pickup_datetime = pd.to_datetime(df.pickup_datetime, format='%Y-%m-%d')

In [39]:
green.head()

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount
0,2015-02-01 01:26:45,2015-02-01 01:49:58,-73.953545,40.811172,-73.984764,40.728386,1,8.11,27.8
1,2015-01-02 20:06:28,2015-01-02 20:14:04,-73.946709,40.714321,-73.961571,40.711475,1,1.29,9.8
2,2014-09-27 17:55:38,2014-09-27 18:19:56,-73.957626,40.718094,-73.947304,40.777813,5,6.12,26.3
3,2014-04-27 02:27:04,2014-04-27 02:39:02,-73.949501,40.713997,-73.987785,40.718582,2,3.68,17.3
4,2014-05-26 18:32:19,2014-05-26 18:44:13,-73.944092,40.672195,-73.977325,40.664013,1,2.40,11.5

In [24]:
len(green[green.pickup_datetime.dt.year == 2014])

1608944

In [26]:
uber = pd.read_csv("../final 9/uber_trips_2014.csv")

In [28]:
uber.tail()

            pickup_datetime  pickup_latitude  pickup_longitude    base
4534322  9/30/2014 22:57:00          40.7668          -73.9845  B02764
4534323  9/30/2014 22:57:00          40.6911          -74.1773  B02764
4534324  9/30/2014 22:58:00          40.8519          -73.9319  B02764
4534325  9/30/2014 22:58:00          40.7081          -74.0066  B02764
4534326  9/30/2014 22:58:00          40.7140          -73.9496  B02764

In [29]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4534327 entries, 0 to 4534326
Data columns (total 4 columns):
pickup_datetime     object
pickup_latitude     float64
pickup_longitude    float64
base                object
dtypes: float64(2), object(2)
memory usage: 138.4+ MB

In [30]:
yellow = pd.read_csv("../final 9/yellow_trips.csv")

In [33]:
yellow.tail()

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount
7974054,2015-05-30 23:32:23,2015-05-30 23:55:59,0.000000,0.000000,0.000000,0.000000,2,4.40,22.80
7974055,2015-06-27 19:00:44,2015-06-27 19:03:34,-73.965103,40.806580,-73.970108,40.797161,1,0.64,5.30
7974056,2015-06-21 17:59:31,2015-06-21 18:05:26,-73.996666,40.756790,-73.992065,40.747990,5,0.93,8.16
7974057,2015-04-10 19:28:54,2015-04-10 19:36:16,-73.982079,40.775158,-73.965836,40.800442,6,1.98,11.76
7974058,2015-05-01 12:23:31,2015-05-01 12:30:06,-73.964752,40.759098,-73.974251,40.763218,1,0.60,8.16

In [32]:
yellow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7974059 entries, 0 to 7974058
Data columns (total 9 columns):
pickup_datetime      object
dropoff_datetime     object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count      int64
trip_distance        float64
total_amount         float64
dtypes: float64(6), int64(1), object(2)
memory usage: 547.5+ MB

In [40]:
yellow.pickup_datetime = pd.to_datetime(yellow.pickup_datetime, format='%Y-%m-%d')

In [41]:
len(yellow[yellow.pickup_datetime.dt.year == 2014])

4118754